{% extends 'core/base.html' %}
{% block title %} IShop {% endblock %}
{% block content %}
<div> 
    <div style="padding: 1rem ;">
        <div class="" style="display: flex;">
            <div  style="padding-left: 1rem;padding-right: 1rem; width: 100%;">
                <h2 class="mb-12 text-4xl text-font text-center underline">
                    About us</h2>
             <h2 class="text-2xl text-center "> 
                Our web application empowers you to effortlessly create and manage your own shop.
                 You can add and organize product categories and items, track monthly sales, 
                 and keep your business running smoothly. Additionally, our platform allows you 
                 to connect with other users and explore products available for purchase.
             </h2>
            </div>
            <div style="width: 100%;">
             <img src="../../../media/image/ishop__.jpg"  alt="test">
            </div> 
            
        </div>
</div>
{% endblock %}

